@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&display=swap');

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  /* Hide scroll-bar for WebKit browsers (Chrome, Safari, Edge) */
  display: none;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.container::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/site-background.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  filter: blur(1.5px);
  z-index: -1; 
}

.head-logo {
  margin-bottom: 20px;
}

.do-follow-text {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: rgb(27, 27, 27);
}

.social-section {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 18px;
}

.social-section li img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.social-section li img:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

/* Small screens (phones) */
@media (max-width: 600px) {
  .portfolio-welcome-logo {
    width: 250px;
  }

  .do-follow-text {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .social-section li img {
    width: 24px;
    height: auto;
  }
}

/* Medium screens (tablets, small laptops) */
@media (min-width: 601px) and (max-width: 1024px) {
  .portfolio-welcome-logo {
    width: 350px;
  }

  .do-follow-text {
    font-size: 16px;
    letter-spacing: 1.5px;
  }

  .social-section li img {
    width: 27px;
    height: auto;
    transition: transform 0.4s ease-in-out;
  }

  .social-section li img:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
  }

}

